<a href="https://colab.research.google.com/github/MirAndaSanchEzz/Ejercicios_1_y_2/blob/main/tipos_de_datos_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TIPOS DE DATOS
Esos son ejemplos de los tipos de datos que se pueden declarar en Python.

In [21]:
# int (entero)
edad = 18
a単o = 2025
print("entero:", edad, a単o)

entero: 18 2025

In [25]:
# float (decimal)
peso = 47.900
estatura =  1.47
print("deimal:", peso, estatura)

deimal: 47.9 1.47

In [26]:
# bool (booleano)
mayor_edad = True
es_alta = False
print("booleano:", mayor_edad, es_alta)

booleano: True False

In [39]:
# str (cadena)
nombre = "Miranda"
mensaje = "hola profe"
print("cadena:", nombre, mensaje)

cadena: Miranda hola profe

In [34]:
# list(lista)
frutas = ["pi単a", "papaya", "naranja"]
numeros = [1, 2, 3, 4, 5]
mixta = ["hola", 123, True]
print("lista:", frutas, numeros, mixta)

lista: ['pi単a', 'papaya', 'naranja'] [1, 2, 3, 4, 5] ['hola', 123, True]

In [35]:
# tuple (tupla)
coordenadas = (21, 19)
dias = ("lunes", "martes", "miercoles")
print("tupla:", coordenadas, dias)

tupla: (21, 19) ('lunes', 'martes', 'miercoles')

In [36]:
# set (conjunto)
colores = {"negro", "morado", "rojo"}
numeros = {1, 2, 3, 4, 5}
print("conjunto:", colores, numeros)

conjunto: {'morado', 'negro', 'rojo'} {1, 2, 3, 4, 5}

In [40]:
# dict (diccionario)
alumna = {"nombre": "Miranda", "edad": "18", "carrera": "ingenieria industrial y de sistemas"}
print("diccionario:", alumna)

diccionario: {'nombre': 'Miranda', 'edad': '18', 'carrera': 'ingenieria industrial y de sistemas'}